USE [LoginDB]
GO
/****** Object:  Table [dbo].[tblUser]    Script Date: 05-Apr-2017 9:20:42 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tblUser]') AND type in (N'U'))
DROP TABLE [dbo].[tblUser]
GO
USE [master]
GO
/****** Object:  Database [LoginDB]    Script Date: 05-Apr-2017 9:20:42 AM ******/
IF  EXISTS (SELECT name FROM sys.databases WHERE name = N'LoginDB')
DROP DATABASE [LoginDB]
GO
/****** Object:  Database [LoginDB]    Script Date: 05-Apr-2017 9:20:42 AM ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'LoginDB')
BEGIN
CREATE DATABASE [LoginDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LoginDB', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLE2012\MSSQL\DATA\LoginDB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'LoginDB_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLE2012\MSSQL\DATA\LoginDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
END

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LoginDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LoginDB]
GO
/****** Object:  Table [dbo].[tblUser]    Script Date: 05-Apr-2017 9:20:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tblUser]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[tblUser](
	[UserID] [int] NOT NULL,
	[UserName] [varchar](50) NULL,
	[Password] [varchar](250) NULL,
 CONSTRAINT [PK_tblUser] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tblUser] ([UserID], [UserName], [Password]) VALUES (1, N'User1', N'123')
USE [master]
GO
